h5 {
	text-align: center;
}

.nav-wrapper {
	background-color: #BF5700;
	color: #ffffff;
}
.btn-large {
	height: 150px;
	width: 300px;
	margin-left:38%;
}
#addBtn {
	  margin-top: -150px;
  margin-left: 72em;
}
.icon{
	height: 15px;
	width: 15px;
	float: right;
}
.icon1 {
	height: 15px;
	width: 15px;
	margin-left: 43em;
}
.updateCourseIcon {
	height: 15px;
	width: 15px;
}
.deleteCourseIcon {
	height: 15px;
	width: 15px;
}
#plusIcon {
	height: 30px;
	width: 30px;
	float: right;
}
.collectionSize {
	width: 50em;
  margin: auto;
  margin-top: 30px;
}

#modal1 {
	max-height: 70%;
  width: 50em;
  margin: auto;
  margin-bottom: 100px;
}
